<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">Name</th>
      <th scope="col">Autor</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light" *ngFor="let item of books">
      <td>{{item.data.title}}</td>
      <td>{{item.data.autor}}</td>
      <td><button class="btn btn-danger" (click)="openDialog(item)">Delete</button> |
        <button class="btn btn-warning" (click)="onEditarLibro(item)">Edit</button> |
        <button class="btn btn-info" (click)="onInfoLibro(item)">Info</button>
      </td>
    </tr>
  </tbody>
</table>
