<div class="container m-4">
  <div class="row">
    <div class="col-12 m-2"><button class="btn btn-success w-100" type="button" (click)="onGoToCreate()">New Borrow</button></div>
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr class="bg-dark text-white">
            <th scope="col">Start Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" *ngFor="let item of prestamos">
            <td>{{item.data.startDate | date}}</td>
            <td>{{item.data.finishDate.toDate() | date}}</td>
            <td><button class="btn btn-danger" (click)="onEliminarPrestamo(item)">Return</button> |
              <button class="btn btn-warning" (click)="onEditarPrestamo(item)">Edit</button> |
              <button class="btn btn-info" (click)="onInfoPrestamo(item)">Info</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
