<div class="card m-auto mt-3 mb-3" style="width: 38rem;" *ngIf="socio != null || socio != undefined">
  <img src="{{socio.data.img}}" class="card-img-top m-auto img-cover"
    alt="Si sale esto es porque la portada no esta disponible">
  <div class="card-body">
    <h1 class="card-title">{{socio.data.name}} {{socio.data.surname}}</h1>
    <ul class="list-group">
      <li class="list-group-item">Nick: <h3>{{socio.data.nick}}</h3>
      </li>
      <li class="list-group-item">Age: <h3>{{socio.data.age}}</h3>
      </li>
      <li class="list-group-item"><button class="btn btn-warning" (click)="onEditarSocio(socio)">Edit</button> | <button
          class="btn btn-danger" (click)="openDialog(socio)">Delete</button></li>
    </ul>
  </div>
  <button class="btn btn-dark text-white m-3" (click)="onGoBackToList()">Go back to List</button>
</div>
