<div class="container m-4">
  <div class="row">
    <div class="col-md-6 mb-2 d-md-block d-none"><a class="btn btn-primary w-100" routerLink="list">List</a></div>
    <div class="col-md-6 mb-2 d-md-block d-none"><a class="btn btn-primary w-100" routerLink="cards">Cards</a></div>
    <div class="col-12 mb-2"><button class="btn btn-success w-100" type="button" (click)="onGoToCreate()">New Book</button></div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
