<form class="mt-3 col-md-8 m-auto" (ngSubmit)="onSave()" *ngIf="book != null || book != undefined" [formGroup]="bookForm">
  <h1>Edit Book</h1>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" placeholder="{{book.data.title}}" formControlName="title" [disabled]="true">
    </div>
    <div class="form-group col-md-6">
      <label for="autor" class="form-label">Autor</label>
      <input type="text" class="form-control" placeholder="{{book.data.autor}}" formControlName="autor" [disabled]="true">
      <div *ngIf=""></div>
    </div>
    <div class="form-group col-md-6  mt-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" placeholder="{{book.data.description}}" formControlName="description">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Genre</label>
      <input type="text" class="form-control" placeholder="{{book.data.genre}}" formControlName="genre">
    </div>
    <div class="form-group col-md-6  mt-3">
      <label for="cover" class="form-label">Cover</label>
      <input type="text" class="form-control" placeholder="{{book.data.cover}}" formControlName="cover">
    </div>
  </div>
  <div class="col-md-12 mt-3 ">
    <button type="submit" class="btn btn-warning w-100" [disabled]="bookForm.invalid">Save Edit</button>
    <button class="btn btn-dark text-white mt-2 w-100" (click)="onGoBackToList()">Back to List</button>
  </div>
</form>
