<div class="row">
  <div class="col-4 card m-auto mt-3 mb-3" style="width: 22rem;" *ngFor="let socio of socios">
    <img src="{{socio.data.img}}" class="card-img-top m-auto img-cover"
      alt="Si sale esto es porque la portada no esta disponible">
    <div class="card-body">
      <h1 class="card-title">{{socio.data.name}} {{socio.data.surname}}</h1>
      <ul class="list-group">
        <li class="list-group-item"><button class="btn btn-info" (click)="onInfoSocio(socio)">Info</button> | <button
            class="btn btn-warning" (click)="onEditarSocio(socio)">Edit</button> | <button class="btn btn-danger"
            (click)="openDialog(socio)">Delete</button></li>
      </ul>
    </div>
  </div>
</div>
