<div  *ngIf="userLogged |async as user" class="navbar navbar-expand-lg navbar-dark bg-dark text-white d-none d-md-block">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav m-3 mb-lg-0" style="font-size: 18px;">
        <li class="nav-item">
          <a class="nav-link active p-3">Biblioteca <span class="color-darkcyan">Central</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-3" aria-current="page" routerLink="/libros">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-3" aria-current="page" routerLink="/socios">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-3" aria-current="page" routerLink="/prestamos">Borrows</a>
        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item" >
          <a class="nav-link active p-3"><img class="d-inline" width="30px" height="30px" *ngIf="user.photoURL != null" src="{{user.photoURL}}" /><p class="d-inline">{{user.email}}</p><span (click)="OnLogOut()" class="badge rounded-pill bg-danger"> X</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="d-md-none d-display" *ngIf="userLogged |async as user">
  <div class="containerAbsolute">
    <button mat-button [matMenuTriggerFor]="menu" class="btn btn-dark text-white tresBotones"><mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/libros">Books</button>
      <button mat-menu-item routerLink="/socios">Members</button>
      <button mat-menu-item routerLink="/prestamos">Borrows</button>
      <button mat-menu-item (click)="OnLogOut()">LogOut</button>
    </mat-menu>
  </div>
</div>
