<div class="container mt-3">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 m-auto w-50">
      <h1 class="m-auto">Something was wrong</h1>
      <img src="/assets/gifts/gustavMeme.gif" alt="Gif Gracioso" class="w-100" /> <br>
      <a class="btn btn-primary w-100 mt-2" routerLink="/sign-in">Login</a>
    </div>
  </div>
</div>
