<form class="mt-3 col-md-8 m-auto" (ngSubmit)="onSave()" [formGroup]="sociosForm">
  <h1>New Socio</h1>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
    </div>
    <div class="form-group col-md-6">
      <label for="autor" class="form-label">Surname</label>
      <input type="text" class="form-control" placeholder="Surname" formControlName="surname">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Age</label>
      <input type="number" class="form-control" placeholder="Age" formControlName="age">
    </div>

    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Nick</label>
      <input type="text" class="form-control" placeholder="Nick" formControlName="nick">
    </div>
    <div class="form-group col-md-6  mt-3">
      <label for="cover" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Imagen User</label>
      <input type="text" class="form-control" placeholder="Ruta Imagen Perfil" formControlName="img">
    </div>
  </div>
  <div class="col-md-12 mt-3 ">
    <button type="submit" class="btn btn-success w-100" [disabled]="sociosForm.invalid">Save</button>
    <button class="btn btn-dark text-white mt-2 w-100" (click)="onGoBackToList()">Back to List</button>
  </div>

</form>
