<form class="mt-3 col-md-8 m-auto" (ngSubmit)="onSave()" [formGroup]="pForm">
  <h1>New Prestamo</h1>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="form-label">Start Date</label>
      <input type="date" class="form-control" placeholder="MM/dd/yyyy" formControlName="startDate">
    </div>
    <div class="form-group col-md-6">
      <label for="autor" class="form-label">Finish Date</label>
      <input type="date" class="form-control" placeholder="MM/dd/yyyy" formControlName="finishDate">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Member</label>
      <select class="form-control" placeholder="idSocio" formControlName="idSocio">
        <option class="form-control" *ngFor="let item of socios" value="{{item.id}}">{{item.data.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-6 mt-3 mb-5">
      <label for="description" class="form-label">Book</label>
      <select class="form-control" placeholder="idBook" formControlName="idBook">
        <option class="form-control" *ngFor="let item of books" value="{{item.id}}">{{item.data.title}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-12 mt-3 mb-5">
    <button type="submit" class="btn btn-success w-100" [disabled]="pForm.invalid">Save</button>
    <button class="btn btn-dark text-white mt-2 w-100" (click)="onGoBackToList()">Back to List</button>
  </div>

</form>
