<form class="mt-3 col-md-8 m-auto" (ngSubmit)="onSave()" [formGroup]="sociosForm">
  <h1>Edit Socio</h1>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group col-md-6">
      <label for="autor" class="form-label">Surname</label>
      <input type="text" class="form-control" formControlName="surname">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Age</label>
      <input type="number" class="form-control" formControlName="age">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Nick</label>
      <input type="text" class="form-control" formControlName="nick">
    </div>
    <div class="form-group col-md-6  mt-3">
      <label for="cover" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group col-md-6 mt-3">
      <label for="editionDate" class="form-label">Imagen</label>
      <input type="text" class="form-control" formControlName="img">
    </div>
  </div>
  <div class="col-md-12 mt-3 ">
    <button type="submit" class="btn btn-warning w-100" [disabled]="sociosForm.invalid">Save Edit</button>
    <button class="btn btn-dark text-white mt-2 w-100" (click)="onGoBackToList()">Back to List</button>
  </div>

</form>
