<div class="container w-25 mt-5">

  <div class="card text-center">
    <div class="card-header bg-dark text-white">
      <b>LOGIN</b>
    </div>

    <div class="card-body p-4">
      <label style="float: left;" >Email</label>
      <input class="form-control m-2" type="email" placeholder="Email@example.com" [(ngModel)]="user.email" />

      <label style="float: left;" >Password</label>
      <input class="form-control m-2" type="password" placeholder="Password" [(ngModel)]="user.password" />

      <button class="btn btn-success btn-block m-2" (click)="OnSignIn()">Sign In</button>
      <button class="btn btn-success btn-block m-2" (click)="OnSignInWithGoogle()">Sign In with Google</button>
      <p>You don't have register already? <button class="btn btn-primary" (click)="OnSignUp()">Sign Up</button></p>
    </div>

  </div>

</div>
