<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light" *ngFor="let item of socios">
      <td>{{item.data.name}}</td>
      <td>{{item.data.surname}}</td>
      <td><button class="btn btn-danger" (click)="openDialog(item)">Delete</button> |
        <button class="btn btn-warning" (click)="onEditarSocio(item)">Edit</button> |
        <button class="btn btn-info" (click)="onInfoSocio(item)">Info</button>
      </td>
    </tr>
  </tbody>
</table>
