<div class="row">
  <div class="col-4 card m-auto mt-3 mb-3" style="width: 22rem;" *ngFor="let book of books">
    <img src="{{book.data.cover}}" class="card-img-top m-auto img-cover"
      alt="Si sale esto es porque la portada no esta disponible">
    <div class="card-body">
      <h1 class="card-title">{{book.data.title}}</h1>
      <ul class="list-group">
        <li class="list-group-item">Autor: <h3>{{book.data.autor}}</h3>
        </li>
        <li class="list-group-item">Genre: <h3>{{book.data.genre}}</h3>
        </li>
        <li class="list-group-item"><button class="btn btn-info" (click)="onInfoLibro(book)">Info</button> | <button
            class="btn btn-warning" (click)="onEditarLibro(book)">Edit</button> | <button class="btn btn-danger"
            (click)="openDialog(book)">Delete</button></li>
      </ul>
    </div>
  </div>
</div>
