<div class="card m-auto mt-3 mb-3" style="width: 38rem;" *ngIf="prestamo != null || prestamo != undefined">
  <div class="card-body">
    <h1 class="card-title">Borrow:</h1>
    <ul class="list-group">
      <li class="list-group-item">Member: {{socio.data.name}} {{socio.data.surname}} <button class="btn btn-primary" (click)="onGoToSocio()">Ver el Socio</button></li>
      <li class="list-group-item">Book: {{book.data.title}} <button class="btn btn-primary" (click)="onGoToBook()">Ver el Libro</button></li>
      <li class="list-group-item">Start Date: <h3>{{prestamo.data.startDate | date}}</h3></li>
      <li class="list-group-item">Return Date: <h3>{{prestamo.data.finishDate | date}}</h3></li>
      <li class="list-group-item"><button class="btn btn-warning" (click)="onEditarPrestamo(prestamo)">Edit</button> | <button class="btn btn-danger" (click)="onEliminarPrestamo(prestamo)">Delete</button></li>
    </ul>
  </div>
  <button class="btn btn-dark text-white m-3" (click)="onGoBackToList()">Go back to List</button>
</div>
