
<h2 mat-dialog-title>Delete Book</h2>
<mat-dialog-content class="mat-typography">
  <p>Are you sure you want to delete this book: {{data.data.title}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-dark">Cancel</button> |
  <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-danger" (click)="onEliminarLibro(data)">Delete</button>
</mat-dialog-actions>
