<div class="container w-100 mt-4">
  <div class="row">
    <div class="col-12">
      <div class="bg-dark w-50 m-auto">
        <h1 class="text-white p-2">Proyecto Completado con exito con los siguientes requisitos: </h1>
        <ul class="list-group m-3">
          <li class="list-group-item m-3">CRUD de Socios y Libros</li>
          <li class="list-group-item m-3">CRUD de Prestamos el cual usa ID's de Socios y Libros a modo de Enlace con las mismas</li>
          <li class="list-group-item m-3">Display Layout y GRID CSS con Bootstrap</li>
          <li class="list-group-item m-3">MatDialogs para los deletes de Socios y Libros</li>
          <li class="list-group-item m-3">Vista hecha en inglés</li>
        </ul>
      </div>
    </div>
  </div>
</div>
